.order_details-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  .detail_items{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;

    .right_side-box{
      display: flex;
      flex-direction: column;
      justify-content: end;

    } 

    .left_side-box{
      display: flex;

      img{
        width: 400px;
        height: 400px;
        object-fit: cover;
      }
    }
  }

}

.btn-back {
  width: 100%;
  background-color: lightslategray;
  margin-bottom: 2rem;
}
.btn-back:hover{
  background-color: lightgray;
}